---
layout: news
title: News
permalink: /news/
author: all
---

{% for post in site.posts %}
  <article class="ui segment">
    <h2>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="ui big image label">
      <img src="https://github.com/{{ post.author }}.png">
      {{ post.author }}
    </div>
    {% for category in post.categories %}
      <div class="ui tag label">{{ category }}</div>
    {% endfor %}
    <div class="post-content">
      {{ post.content }}
    </div>
  </article>
  
{% endfor %}
