{% case include.type %}
{% when 'protip' %}
  <div class="ui icon positive message">
    <i class="ftw-msg-icon icon diamond"></i>
    <div class="content">
      <div class="header">{{include.title}}</div>
      <p>{{include.body}}</p>
    </div>
  </div>
{% when 'info' %}
  <div class="ui icon info message">
    <i class="ftw-msg-icon icon info circle"></i>
    <div class="content">
      <div class="header">{{include.title}}</div>
      <p>{{include.body}}</p>
    </div>
  </div>
{% when 'contribute' %}
  <div class="ui icon positive message">
    <i class="ftw-msg-icon icon fork"></i>
    <div class="content">
      <div class="header">{{include.title}}</div>
      <p>{{include.body}}</p>
    </div>
  </div>
{% when 'warning' %}
  <div class="ui icon warning message">
    <i class="ftw-msg-icon icon announcement"></i>
    <div class="content">
      <div class="header">{{include.title}}</div>
      <p>{{include.body}}</p>
    </div>
  </div>
{% when 'security' %}
  <div class="ui icon negative message">
    <i class="ftw-msg-icon icon warning sign"></i>
    <div class="content">
      <div class="header">{{include.title}}</div>
      <p>{{include.body}}</p>
    </div>
  </div>
{% else %}
{% endcase %}
