{% if include.type == 'protip' %}
  <div class="ui icon positive message">
    <i class="icon diamond"></i>
    <div class="content">
      <div class="header">{{include.title}}</div>
      <p>{{include.body}}</p>
    </div>
  </div>
{% elsif include.type == 'info' %}
  <div class="ui icon info message">
    <i class="icon info circle"></i>
    <div class="content">
      <div class="header">{{include.title}}</div>
      <p>{{include.body}}</p>
    </div>
  </div>
{% elsif include.type == 'contribute' %}
  <div class="ui icon positive message">
    <i class="icon fork"></i>
    <div class="content">
      <div class="header">{{include.title}}</div>
      <p>{{include.body}}</p>
    </div>
  </div>
{% elsif include.type == 'warning' %}
  <div class="ui icon warning message">
    <i class="icon announcement"></i>
    <div class="content">
      <div class="header">{{include.title}}</div>
      <p>{{include.body}}</p>
    </div>
  </div>
{% elsif include.type == 'security' %}
  <div class="ui icon negative message">
    <i class="icon warning sign"></i>
    <div class="content">
      <div class="header">{{include.title}}</div>
      <p>{{include.body}}</p>
    </div>
  </div>
{% endif %}
