$ftw-color-highlight: #CE2A7A;
$ftw-color-highlight-alt: #4BAA6D;

$ftw-color-highlight-hover: lighten($ftw-color-highlight, 20%);
$ftw-color-highlight-alt-hover: lighten($ftw-color-highlight-alt, 20%);

$ftw-subtle-text-on-darkbg-color: #888;
$ftw-normal-text-on-darkbg-color: #DDD;
$ftw-subtle-text-on-lightbg-color: #777;
$ftw-normal-text-on-lightbg-color: #333;
$ftw-normal-text-on-highlight-color: #EEE;

$ftw-background-dark: url('../img/subtle-patterns-classy-fabric.png') #222;
$ftw-background-light: url('../img/subtle-patterns-net.png') #EEE;

body {
  background: $ftw-background-light;
}

a {
  color: $ftw-color-highlight;
  text-decoration: none;
  transition: all .25s;
  &:hover {
    color: $ftw-color-highlight-hover;
  }
}

#ftw-site-menu {
  /*  Purely to prevent flicker: http://stackoverflow.com/a/20907500  */
  -webkit-transform: translate3d(0,0,0);
  border-top: 5px solid $ftw-color-highlight;
}

#ftw-site-footer {
  border-bottom: 5px solid $ftw-color-highlight-alt;
}

.ui.inverted.segment, .ui.inverted.menu {
  background: $ftw-background-dark;
  color: $ftw-normal-text-on-darkbg-color;
}

.ui.icon.message>.icon.ftw-msg-icon {
  width: 1em;
}

.ftw-permalink {
  color: $ftw-color-highlight-alt;
  .icon {
    opacity: 0.4;
    margin-left: 0.5em;
    font-size: 0.8em;
  }
  &:hover {
    color: $ftw-color-highlight-alt-hover;
  }
}

.ftw-doc-authors {
  color: $ftw-subtle-text-on-lightbg-color;
  font-size: 0.6em;
  padding-right: 1em;
  display: inline-block;
  .meta {
    display: inline;
  }
  .doc-author {
    display: inline;
    margin-left: 0.5em;
  }
}
