/* Base */

$ftw-color-highlight: #CE2A7A;
$ftw-color-highlight-alt: #4BAA6D;

$ftw-color-highlight-hover: lighten($ftw-color-highlight, 20%);
$ftw-color-highlight-alt-hover: lighten($ftw-color-highlight-alt, 20%);

$ftw-subtle-text-on-darkbg-color: #888;
$ftw-normal-text-on-darkbg-color: #DDD;
$ftw-normal-text-on-lightbg-color: #333;
$ftw-normal-text-on-highlight-color: #EEE;

$ftw-background-dark: url('../img/subtle-patterns-classy-fabric.png') #222;
$ftw-background-light: url('../img/subtle-patterns-net.png') #EEE;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML Elements */

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
  color: $ftw-color-highlight;
  text-decoration: none;
  @include transition(all .25s);
  
  &:hover {
    color: $ftw-color-highlight-hover;
  }
}

strong { font-weight: 700; }

p { line-height: 1.5em; }

.left { float: left; }
.right { float: right; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
body {
  font: 300 21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $ftw-normal-text-on-lightbg-color;
  background: $ftw-background-light;
  border-top: 5px solid $ftw-color-highlight;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  @include box-shadow(inset 0 3px 30px rgba(0,0,0,.3));
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

.clear {
  display: block;
}

.clear:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Sections */

header,
section,
footer {
  float: left;
  width: 100%;
  clear: both;
}

/* Header */

header {

  h1,
  nav { display: inline-block; }

}

nav {

  ul {
    padding: 0;
    margin: 0;
  }

  li { display: inline-block; }
}

.main-nav {
  margin-top: 52px;

  li {
    margin-right: 10px;

    a {
      @include border-radius(5px);
      font-weight: 900;
      font-size: 14px;
      padding: 0.5em 1em;
      text-shadow: none;
      text-transform: uppercase;
    }

    &.current {

      a {
        background-color: $ftw-color-highlight;
        color: $ftw-normal-text-on-highlight-color;
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5));
        text-shadow: 0 1px 0 rgba(255,255,255,.3);
      }
    }
  }
}

.mobile-nav {

  ul {
    overflow: hidden;
    width: 100%;
    display: table;
  }

  a {
    float: left;
    width: 100%;
    background-color: #333;
    color: #fc0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    padding: 5px;
    @include border-radius(5px);
  }

  li {
    display: table-cell;
    width: 20%;
    padding: 8px 2px;
  }

  .current {

    a {
      background-color: $ftw-color-highlight;
      color: $ftw-normal-text-on-highlight-color;
      @include box-shadow(inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5));
      text-shadow: 0 1px 0 rgba(255,255,255,.3);
    }
  }
}

/*
 * This code is courtesy Ben Balter, modified by Parker Moore for jekyllrb.com
 * http://ben.balter.com/2014/03/13/pages-anchor-links/
 */
.header-link, .permalink {
  color: $ftw-color-highlight-alt;
  position: relative;
  left: 0.5em;
  opacity: 0.1;
  font-size: 0.8em;
  @include transition(opacity 0.25s);
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link,
h2:hover .permalink,
h3:hover .permalink,
h4:hover .permalink,
h5:hover .permalink,
h6:hover .permalink {
  color: $ftw-color-highlight-alt-hover;
  opacity: 1;
}

@media (max-width: 768px) {
  .main-nav ul {
    text-align: right;
  }
}
@media (max-width: 830px) {
  .main-nav {
    .show-on-mobiles { display: inline; }
    .hide-on-mobiles { display: none; }
  }
}

/* Footer */

footer {
  background: $ftw-background-dark;
  color: $ftw-subtle-text-on-darkbg-color;
  font-size: 16px;
  padding-bottom: 5px;
  margin-top: 40px;

  a {
    color: $ftw-normal-text-on-darkbg-color;

    &:hover {

      img { opacity: 1; }
    }
  }

  .align-right {

    p { display: inline-block; }
  }
  
  .license-image {
    float: left;
    padding-top: 24px;
    padding-right: 20px;
  }
}

@media (max-width: 568px) {
  footer {
    .one-third p { margin-bottom: 0; }
    .two-thirds p { margin-top: -20px; }
  }
}

/* Intro */

.intro {

  .unit { padding: 10px 0 40px; }

  p {
    font-size: 1.75em;
    line-height: 1em;
    margin: 0;
  }
}

@media (min-width: 569px) {
  .intro p { font-size: 3.2em; }
}

/* Article - Used for both docs and news */

article {
  background: $ftw-background-dark;
  color: $ftw-normal-text-on-darkbg-color;
  @include border-radius(10px);
  padding: 20px;
  margin: 0 10px;
  @include box-shadow(0 3px 10px rgba(0,0,0,.1));
  font-size: 16px;
  
  h1, h2, h3 {
  
    color: $ftw-color-highlight-alt;
    
    a {
      color: $ftw-color-highlight-alt;
    }
    
    a:hover {
      color: $ftw-color-highlight-alt-hover;
    }
  }
}

@media (max-width: 480px) {
  article ul { padding-left: 20px; }
}

@media (max-width: 568px) {
  article { margin: 0; }
}

@media (min-width: 768px) {
  article {
    padding: 40px 40px 30px;
    font-size: 21px;
  }
}

/* Right-side nav - used by both docs and news */

aside {

  h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    color: $ftw-normal-text-on-lightbg-color;
  }

  ul {
    padding-left: 16px;
    margin: 2px 0 18px 0;

    &:first-child { margin-top: 0; }
  }

  li {
    list-style-type: none;

    a {
      font-size: 16px;
      position: relative
    }

    &.current a:before {
      @include fa-icon();
      content: $fa-var-caret-right;
      font-size: 20px;
      position: absolute;
      top: 1px;
      left: -12px;
    }
  }
}

/* Documentation */

.docs {

  article { min-height: 800px; }

  .content { padding: 0; }
}

.section-nav {
  text-align: center;
  padding: 40px 0px 0px 0px;
  background: url(../img/article-footer.png) top center no-repeat;

  > div { width: 49.5%; }

  .nav-button {
    color: $ftw-normal-text-on-darkbg-color;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 12px 10px;
    @include border-radius(5px);
    @include box-shadow(0 1px 3px rgba(0,0,0,.3), inset 0 1px 1px rgba(255,255,255,.5));
    background-color: $ftw-color-highlight;
    
    &:hover {
      color: $ftw-normal-text-on-darkbg-color;
    	background-color: $ftw-color-highlight-hover;
    }
  }

  .disabled {
    opacity: .5;
    cursor: default;
  }
}

.improve {
  padding-top: 25px;
  font-size: 16px;
  a {
    color: $ftw-subtle-text-on-darkbg-color;
    
    &:hover {
      color: $ftw-color-highlight-hover;
    }
  }
}

.docs-nav-mobile select {
  color: #000;
  width: 100%;
}

.doc-authors {
  color: $ftw-subtle-text-on-darkbg-color;
  font-size: 0.6em;
  margin-top: 40px;
  
  .meta {
    display: inline;
  }
}

.doc-author {
  display: inline;
}

/* News */

article h2:first-child { margin-top: 0; }

.post-category,
.post-meta {
  display: inline-block;
  vertical-align: middle;
  font-size: .8em;
}

.post-category {
  display: inline-block;
  margin-left: -30px;
  padding: 6px 10px 8px;
  padding-left: 50px;
  @include border-radius(0 5px 5px 0);
  position: relative;
  @include box-shadow(0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3));
  background-color: #9e2812;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllMjgxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZjBkMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9e2812), to(#6f0d0d));
  background-image: -webkit-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
  background-image: -moz-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
  background-image: -o-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
  background-image: linear-gradient(to bottom, #9e2812 0%,#6f0d0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2812', endColorstr='#6f0d0d',GradientType=0 );

  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-color: transparent #6f0d0d #6f0d0d transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }
}

.post-content img { max-width: 100% }

.label {
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

@media (max-width: 568px) {
  .post-category { padding-left: 30px; }
}

@media (min-width: 768px) {
  .post-category { margin-left: -50px; }
}

.avatar {
  @include border-radius(3px);
  display: inline-block;
  vertical-align: middle;
}

.post-meta {
  padding: 5px 0;
  color: $ftw-subtle-text-on-darkbg-color;
  font-weight: 600;
  text-shadow: 0 -1px 0 #000;
}

.post-date,
.post-author { margin-left: 10px; }

.news article + article {
  margin-top: -10px;
  @include border-radius(0 0 10px 10px);
  border-top: 1px solid #555;
  @include box-shadow(0 -1px 0 #2f2f2f);
}

/* Code Highlighting */


pre,
code {
  white-space: pre;
  display: inline-block;
  margin: 0;
  font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  padding: 0 0.5em;
}

@media (min-width: 768px) {
  pre, code { font-size: 16px; }
}

.highlight,
p > pre,
p > code,
p > nobr > code,
li > code,
h5 > code,
.note > code {
  background-color: #2b2b2b;
  color: #fff;
  @include border-radius(5px);
  @include box-shadow(inset 0 1px 10px rgba(0,0,0,.3),
    0 1px 0 rgba(255,255,255,.1),
    0 -1px 0 rgba(0,0,0,.5));
}

.note code {
  background-color: #333;
  background-color: rgba(0,0,0,0.2);
  margin-left: 2.5px;
  margin-right: 2.5px;
  font-size: 0.8em;
}

.highlight {
  margin: 1em 0;
  padding: 10px 0;
  width: 100%;
  overflow: auto;
}

/* Article HTML */

article {

  h2, h3, h4, h5, h6 { margin: 1em 0; }

  h4 { color: #fff; }

  ul li {

    p { margin: 0; }

    blockquote { margin: 10px 0; }
  }

  ul li,
  ol li {
    line-height: 1.5em;
    margin-bottom: 0.5em;
  }

}

h5, h6 {
  font-size: 1em;
  font-style: italic;
}

blockquote {
  border-left: 2px solid #777;
  padding-left: 20px;
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
}


/* Tables */

table {
  width: 100%;
  background-color: #555;
  margin: .5em 0;
  @include border-radius(5px);
  @include box-shadow(0 1px 3px rgba(0,0,0,.3));
}

thead {
  @include border-top-left-radius(5px);
  @include border-top-right-radius(5px);
  color: #fff;
  background-color: #3a3a3a;
  background-image: linear-gradient(to bottom, #3a3a3a 0%,#1e1e1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1e1e1e',GradientType=0 );

  th {
    position: relative;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.1));

    &:first-child {
      @include border-top-left-radius(5px);
    }

    &:last-child {
      @include border-top-right-radius(5px);
    }
  }
}

td { padding: .5em .75em; }

td p { margin: 0; }

th {
  text-transform: uppercase;
  font-size: 16px;
  padding: .5em .75em;
  text-shadow: 0 -1px 0 rgba(0,0,0,.9);
  color: #888;
}

tbody td {
  border-top: 1px solid #747474;
  border-top: 1px solid rgba(0,0,0,.1);
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.1));
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);

  p {
    font-size: 16px;

    code { font-size: 14px; }
  }
}

code.option,
th .option,
code.filter,
th .filter {
  color: #50B600;
}

code.flag,
th .flag,
code.output,
th .output {
  color: #049DCE;
}

code.option,
code.flag,
code.filter,
code.output {
  margin-bottom: 2px;
}

/* Note types */

.note {
  margin: 30px 0;
  margin-left: -30px;
  padding: 20px 20px 24px;
  padding-left: 50px;
  @include border-radius(0 5px 5px 0);
  position: relative;
  @include box-shadow(0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3));
}

@media (max-width: 568px) {
  .note { margin-right: -30px; }
}

@media (min-width: 768px) {
  .note { margin-left: -50px; }
}

.note {

  color: $ftw-normal-text-on-darkbg-color;

  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }
  
  &:after {
    @include fa-icon();
    position: absolute;
    font-size: 80px;
    opacity: 0.1;
  }

  .title {
    margin: 0;
    line-height: 1.5em;
    font-weight: 900;
    font-style: normal;
  }

  .text {
    margin: 0;
    font-weight: 400;
    font-size: .75em;
  }
}

.protip {
  background-color: #7e6d42;
  background-image: linear-gradient(to bottom, #7e6d42 0%, #5c4e35 100%);
  
  &:before { 
    border-color: transparent #222 #222 transparent;
  }
  
  &:after {
    content: $fa-var-diamond;
    left: -16px;
    top: 4px;
  }
  
  .title:before {
    content: "ProTip";
  }
  
}

.info {
  background-color: #0389aa;
  background-image: linear-gradient(to bottom, #0389aa 0%, #00617f 100%);
  
  &:before {
    border-color: transparent #00617f #00617f transparent;
  }
  
  &:after {
    content: $fa-var-info-circle;
    left: -4px;
    top: 0px;
  }
  
  .title:before {
    content: "Note";
  }
}

.warning {
  background-color: #9e2812;
  background-image: linear-gradient(to bottom, #9e2812 0%, #6f0d0d 100%);
  
  &:before {
    border-color: transparent #6f0d0d #6f0d0d transparent;
  }
  
  &:after {
    content: $fa-var-warning;
    left: -8px;
    top: 4px;
  }
  
  .title:before {
    content: "Heads up!";
  }
}

.contrib {
  background-color: #cd9239;
  background-image: linear-gradient(to bottom, #cd9239 0%, #a27528 100%);
  
  &:before {
    border-color: transparent #664719 #664719 transparent;
  }
  
  &:after {
    content: $fa-var-users;
    left: -4px;
    top: 4px;
  }
  
  .title:before {
    content: "Help Wanted";
  }
}

/* Responsive tables */

@media (max-width: 768px) {
  .mobile-side-scroller {
    overflow-x: scroll;
    margin: 0 -40px;
    padding: 0 10px;
  }
}


.show-on-mobiles {
  display: none;
}

@media screen and (max-width: 568px) {
  .show-on-mobiles {
    display: block !important;
  }
  a .show-on-mobiles {
    display: inline !important;
  }
}


/* Helper class taken from Bootstrap.
   Hides an element to all devices except screen readers.
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
