---
layout: default
---

<div class="ui stackable equal width grid container">
  <div class="column"></div>
  <div class="ten wide column">
    <article class="ui fluid text container segment">
      <div class="ui right floated menu">
        <a class="bug popup icon item" data-content="Improve This Page" href="https://github.com/featherweight/featherweight.github.io/edit/master/{{ page.relative_path }}">
          <i class="edit icon"></i>
        </a>
        <a class="bug popup icon item" data-content="Submit Bug Report" href="https://github.com/featherweight/featherweight.github.io/issues/new?title=[Message] - Your Bug Name&amp;body=**Steps to Reproduce**%0A1. Do something%0A2. Do something else.%0A3. Do one last thing.%0A%0A**Expected**%0AThe Message should do this%0A%0A**Result**%0AThe Message does not do this%0A%0A**Testcase**%0A(fork this to get started)%0Ahttp://jsfiddle.net/rduvhn8u/1/">
          <i class="bug icon"></i>
        </a>
        <a class="github popup icon item" data-content="View project on GitHub" href="{{ site.repository }}">
          <i class="alternate github icon"></i>
        </a>
      </div>
      <div class="ui clearing hidden fitted divider"></div>
      <div class="linkify-headers">
        <h1>{{ page.title }}</h1>
        {{ content }}
        {% capture rendered_authors %}{% for author in page.authors %}{% if author != 'placeholder' and author !='' and author != null %}<p class="ftw-doc-author">{{ author }}</p>{% endif %}{% endfor %}{% endcapture %}
        {% if rendered_authors != '' %}
        <div class="ui hidden divider"></div>
        <div class="ftw-doc-authors">
          <p class="meta">Page authors:</p>{{ rendered_authors }}
        </div>
        {% endif %}
        {% capture rendered_editors %}{% for editor in page.editors %}{% if editor != 'placeholder' and editor !='' and editor != null %}<p class="ftw-doc-author">{{ editor }}</p>{% endif %}{% endfor %}{% endcapture %}
        {% if rendered_editors != '' %}
        <div class="ftw-doc-authors">
          <p class="meta">Page editors:</p>{{ rendered_editors }}
        </div>
        {% endif %}

      </div>
    </article>

    <div class="ui clearing hidden divider"></div>

    <div class="ui center aligned basic segment">
      <a class="ui green labeled icon button" href="https://github.com/featherweight/featherweight.github.io/issues/new?title=[{{ page.title }}] consideration&amp;body=What's on your mind? Let's keep this discussion focused on a single consideration; feel free to open another case for additional considerations."><i class="conversation icon"></i>Comments? Discuss on GitHub.</a>
    </div>
  </div>
  <div class="column">
    <aside class="ui vertical menu">
      <div class="item">
        <a class="ui logo icon image" href="/docs/">
          <img src="/assets/img/featherweight-logo-280.png" alt="Featherweight Logo">
        </a>
      </div>
      <div class="item">
        <div class="ui search">
          <div class="ui icon transparent input">
            <input class="prompt" type="text" placeholder="Filter topics...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
      <!--Compressed vertical space below to generate better output from templating engine.-->
      {% for section in site.docs_menu %}
      <div class="item">
        <div class="header">{{ section.title }}</div>
        <div class="active content">{% for item_url in section.items %}
            {% for p in site.content %}{% if p.url == item_url %}{% if item_url == page.url %}
              <a class="item active" href="{{ site.url }}{{ p.url }}">{{ p.menu }}</a>
            {% else %}
              <a class="item" href="{{ site.url }}{{ p.url }}">{{ p.menu }}</a>
            {% endif %}{% break %}{% endif %}{% endfor %}{% endfor %}
        </div>
      </div>
      {% endfor %}
    </aside>
  </div>
</div>

<script src="" type="text/javascript">
$('.ui.search')
  .search({
    source: ftw-side-rail-menu
  });
</script>
