---
layout: news
---

<article class="ui segment">
  <h2>
    {{ page.title }}
    <a href="{{ page.url }}" class="ftw-permalink" title="Permalink"><i class="linkify icon"></i></a>
  </h2>
  {% for category in page.categories %}
    <div class="ui green tag label">{{ category }}</div>
  {% endfor %}
  <div class="ui comments">
    <div class="ui comment">
      <a class="avatar">
        <img src="https://github.com/{{ page.author }}.png">
      </a>
      <div class="content">
        <a class="author">{{ page.author }}</a>
        <div class="metadata">
          <span class="date">{{ page.date | date_to_string }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
</article>
